@import "../settings.scss";

button {
	background-color: $grey;
	box-shadow: 0 1px 0 0 #bababa;
	color:  $dark-grey;
	border: none;
	line-height: 1.53846;
	padding: .52941rem 4rem .41176rem;
	text-align: center;
	text-transform: uppercase;

	&.primary {
		background: $signal-blue;
		box-shadow: 0 1px 0 0 $dark-signal-blue;
		color: $white;

		&:hover {
      background: lighten($signal-blue, 5%);
		}

		&:active {
      background: darken($signal-blue, 5%);
    }
	}

	&.secondary {
		background: $light-grey;
		box-shadow: 0 1px 0 0 #bababa;
		color: $dark-grey;

    &:hover {
      background: lighten($light-grey, 5%);
    }

    &:active {
      background: darken($light-grey, 5%);
    }
	}	

	&.caution {
		background: $lemon-curd;
		box-shadow: 0 1px 0 0 $dark-lemon-curd;
		color: $white;

    &:hover {
      background: lighten($lemon-curd, 5%);
    }

    &:active {
      background: darken($lemon-curd, 5%);
    }
	}	

	&.warning {
		background: $signal-red;
		box-shadow: 0 1px 0 0 $dark-signal-red;
		color: $white;

    &:hover {
      background: lighten($signal-red, 5%);
    }

    &:active {
      background: darken($signal-red, 5%);
    }
	}

	&:disabled {
	  background: #efefef;
	  box-shadow: none;
	  color: #cccccc;
	}
}
