button {
	background-color: #e6e6e6;
	box-shadow: 0 1px 0 0 #bababa;
	color:  #333333;
	border: none;
	line-height: 1.53846;
	padding: .52941rem 4rem .41176rem;
	text-align: center;
	text-transform: uppercase;
}

.primary {

}
