$header-height: 70px;
$aside-width: 260px;
$aside-padding: 15px;
$article-padding: 20px;

header {
  background: #555555;

  h1 {
    line-height: $header-height;
    margin: 0;
    padding: 0 $aside-padding;

    a {
      color: #FFF;
      text-decoration: none;
    }
  }
}

aside {
  position: absolute;
  top: $header-height;
  left: 0;
  width: $aside-width;
  background: #82ACC1;
  padding: $aside-padding 0;

  h4 {
    margin: $aside-padding 0;
    padding: 0 $aside-padding;
    color: #29506E;
  }
  
  ul {
    list-style: none;
    padding: 0;
    line-height: 2.2em;

    li {
      padding: 0 $aside-padding;
    }
  }

  a {
    display: block;
    color: white;
    font-size: 1.2em;
    text-decoration: none;

    &:hover,
    &.active {
      background: #6086A3;
    }
  }
}

article {
  position: absolute;
  right: 0;
  top: $header-height;
  bottom: 0;
  left: $aside-width;
  padding: $aside-padding $article-padding;
}
