$aside-width: 260px;

aside {
  $padding: 15px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $aside-width;
  background: #82ACC1;

  h3 {
    margin: $padding 0;
    padding: 0 $padding;
    color: #29506E;
  }
  
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.4em $padding;
    }
    
    li:hover {
      background: #6086A3;
    }
  }

  a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
  }
}

article {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: $aside-width;
  padding: 1em;
}
