@import "bourbon";
@import "susy";

.bourbon-test {
  @include animation-delay(2s);
}

$susy: (
  columns: 12,
  gutter-position: inside,
  math: fluid,
  output: float,
  flow: rtl,
);

.susy-test {
  .uno {
    float: left;
    width: span(3);
    margin-right: gutter();
  }
  .dos {
    @include span(isolate 9 at 4 no-gutters);
  }
}