@import "../settings.scss";

h1 {
  font-size: 2.75em;
  font-weight: 300;
}

h2 {
  font-size: 2.45em;
  font-weight: 300;
}

h3 {
  font-size: 2.2em;
  font-weight: 300;
}

h4 {
  font-size: 2em;
  color:  #555555;
  font-weight: 300;
}

h5 {
  font-size: 1.6em;
  color:  #555555;
  font-weight: 300;
}

h6 {
  font-size: 1.4em;
  color:  #555555;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0.8em 0 0.4em;

  &:first-child {
    margin-top: 0;
  }
}
