@import "../settings.scss";

input,
textarea {
  background-color:  $white;
  line-height: 1.53846;
  padding: .5rem 0.8rem;
  border: 2px solid #ccc;
  border-radius: 1px;

  &:focus {
    border-color: $teal;
    outline: none;
  }

  &.alert {
    border-color: $signal-red;
  }
  
  &:disabled {
    background-color: #efefef;
  }
}
