$teal: #00a19a;
$signal-blue: #00adef;
$lemon-curd: #ffc556;
$dark-signal-blue: #00688f;
$dark-teal: #004b48;
$dark-lemon-curd: #edb750;
$signal-red: #ea1c2c;
$dark-signal-red: #b81623;
$green: #00a10b;
$dark-green: #006107;
$blue-lagoon: #004d6b;
$dark-blue-lagoon: #00364a;
$grey: #cccccc;
$dark-grey: #333333;
$white: #ffffff;
$light-grey: #dfdfdf;