doctype html
html
  head
    meta(charset='utf-8')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='./SignalUI.js')

    link(rel='stylesheet' type='text/css' href='./SignalUI.css')

  body
    != signalUI('form', {fields: [{ label: 'First Name', type: 'text' }, {label: 'Last Name', type: 'text'}] })
